<div class="back">
	<div class="container">
		<div class="riders">はじめに</div>
		<p class="text-center about">ツーリングを楽しむ全国のライダーのためのサイト</p>
		<p class="text-center about">Bikersはツーリングを楽しむライダーのためのツーリングスポット共有サイトです。</p>

		<h2 class="text-center fanction">機能紹介</h2>

		<div class="riders">投稿機能</div>
		<p class="text-center about">ツーリングで訪れた場所を画像を載せて投稿することができます。画像は複数枚投稿することが可能です。</p>

		<div class="riders">編集・削除</div>
		<p class="text-center about">投稿した内容を編集したり削除したりすることができます。</p>

		<div class="riders">検索機能</div>
		<p class="text-center about">誰かが投稿している場所の名前などを検索して、同じような投稿を見つけることができます。</p>

		<div class="riders">いいね機能</div>
		<p class="text-center about">気になった投稿をいいねして残しておくことができます。</p>

		<div class="riders">コメント機能</div>
		<p class="text-center about">投稿に対してコメントを残すことができます。</p>
		<p class="text-center about">いいなと思った投稿にコメントを残してみましょう。</p>

		<div class="riders">マイページ</div>
		<p class="text-center about">マイページは自分だけの専用ページです。</p>
		<p class="text-center about">マイページでは自分のプロフィール情報を編集することができます。</p>
		<p class="text-center about">他には自分の投稿した一覧、いいねした投稿の一覧を閲覧することができます。</p>

		<div class="riders">目的</div>
		<p class="text-center about">私がこのサイトを作ろうとした目的は、多くのライダーと繋がってツーリングをより一層楽しめたらいいなと思いました。</p>
		<p class="text-center about">このサイトを利用して、最高のバイクライフを楽しみましょう！</p>
	</div>
</div>